body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background-color: #fdffc7;
	color: #000000;
	font-size: 1.4em;
	padding: 10px;
	line-height: 1.5; /* From Tailwind CSS */
	margin: 0; /* Normalize */
}

/* Headings */
h1,
h2,
.site-header {
	color: #00ffd0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

h3 {
	color: #000000;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

section {
	border: 2px solid #00ffd0;
	border-radius: 15px;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.grid-container {
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	display: grid;
	width: auto; /* Adjusted to auto to make it responsive */
	max-width: 800px; /* Max width of the grid */
	margin: 0 auto; /* Centers the grid in the parent container */
	grid-template-columns: repeat(6, 1fr); /* 6 columns of equal size */
	grid-template-rows: repeat(6, 1fr); /* 6 rows of equal size */
	grid-gap: 10px;
}

.grid-item {
	min-width: 100px;
	min-height: 100px;
	background-color: lightgray;
	padding: 10px; /* 20% smaller than 20px */
	text-align: center;
	border-radius: 8px;
}

/*
337A37
009ddc
f26430
6761a8
2a2d34
*/

/* Custom sizes and positions for each item */
.item1 {
	grid-column: span 4;
	grid-row: span 2;
	background-color: #10b2c0;
	color: #FFFFFF;
} /* Spans 3 columns */
.item2 {
	grid-column: span 2;
	grid-row: span 2;
	background-color: #8980f5;
	color: #FFFFFF;
} /* Spans 1 column */
.item3 {
	grid-column: span 2;
	grid-row: span 2;
	background-color: #e85d75;
	color: #FFFFFF;
} /* Spans 1 colum */
.item4 {
	grid-column: span 1;
	grid-row: span 1;
	background-color: #272727;
	color: #FFFFFF;
} /* Spans 1 column */
.item5 {
	grid-column: span 3;
	grid-row: span 2;
	background-color: #66df6c;
	color: #FFFFFF;
} /* Spans 2 columns */
.item6 {
	grid-column: span 1;
	grid-row: span 1;
	background-color: #033f63;
	color: #FFFFFF;
} /* Spans 1 column */
.item7 {
	grid-column: span 3;
	grid-row: span 2;
	background-color: #28666e;
	color: #FFFFFF;
} /* Spans 1 column */
.item8 {
	grid-column: span 3;
	grid-row: span 2;
	background-color: #53d8fb;
	color: #FFFFFF;
} /* Spans 1 column */
.item9 {
	grid-column: span 2;
	grid-row: span 2;
	background-color: #fe64a3;
	color: #FFFFFF;
} /* Spans 1 column */
.item10 {
	grid-column: span 4;
	grid-row: span 2;
	background-color: #FF7674;
	color: #FFFFFF;
} /* Spans 1 column */
.item11 {
	grid-column: span 1;
	background-color: #fcecc9;
	color: #FFFFFF;
} /* Spans 1 column */
.item12 {
	grid-column: span 1;
	background-color: #7eb2dd;
	color: #FFFFFF;
} /* Spans 1 column */
.item13 {
	grid-column: span 1;
	background-color: #445e93;
	color: #FFFFFF;
} /* Spans 1 column */
.item14 {
	grid-column: span 1;
	background-color: #ff9b42;
	color: #FFFFFF;
} /* Spans 1 column */
.item15 {
	grid-column: span 1;
	background-color: #157a6e;
	color: #FFFFFF;
} /* Spans 1 column */
.item16 {
	grid-column: span 1;
	background-color: #499f68;
	color: #FFFFFF;
} /* Spans 1 column */
.item17 {
	grid-column: span 1;
	background-color: #77b28c;
	color: #FFFFFF;
} /* Spans 1 column */
.item18 {
	grid-column: span 1;
	background-color: #b2abbf;
	color: #FFFFFF;
} /* Spans 1 column */
.item19 {
	grid-column: span 1;
	background-color: #b1b5c8;
	color: #FFFFFF;
} /* Spans 1 column */
.item20 {
	grid-column: span 1;
	background-color: #bfd5e2;
	color: #FFFFFF;
} /* Spans 1 column */

/* Responsive Design */
@media (min-width: 768px) {
	body {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
	}

	ul li {
		margin-bottom: 30px;
	}

	p {
		line-height: 3em;
	}

	h3 a {
		display: inline;
		margin-top: 0;
	}

	section {
		padding: 15px;
		border-radius: 10px;
	}
}

/* Menu Toggle */
#menu-toggle {
	background: red;
	color: #fff;
	font-size: 1.4em;
	cursor: pointer;
}
