@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background-color: #fdffc7;
	color: #000000;
	font-size: 1.4em;
	padding: 10px;
	line-height: 1.5; /* From Tailwind CSS */
	margin: 0; /* Normalize */
}

/* Headings */
h1,
h2,
.site-header {
	color: #00ffd0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

h3 {
	color: #000000;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

section {
	border: 2px solid #00ffd0;
	border-radius: 15px;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: #000000;
}

.grid-container {
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	display: grid;
	width: auto; /* Adjusted to auto to make it responsive */
	max-width: 800px; /* Max width of the grid */
	margin: 0 auto; /* Centers the grid in the parent container */
	grid-template-columns: repeat(6, 1fr); /* 6 columns of equal size */
	grid-template-rows: repeat(6, 1fr); /* 6 rows of equal size */
	grid-gap: 10px;
}

.grid-item {
    min-width: 100px;
    min-height: 100px;
	background-color: lightgray;
	padding: 10px; /* 20% smaller than 20px */
	text-align: center;
	border-radius: 8px;
    transition: transform 0.3s ease; /* Transition only the transform property */
	cursor: pointer;

}

.grid-item:hover {
    transform: scale(1.1); /* Scale up the item */
    z-index: 10; /* Keep this if you want the item to overlay others on hover */
}

/*
337A37
009ddc
f26430
6761a8
2a2d34
*/

.item1 {
	grid-column: span 4;
	grid-row: span 2;
	background-color: #8ecae6;
	color: #000000;
}
.item2 {
	grid-column: span 2;
	grid-row: span 2;
	background-color: #219ebc;
	color: #FFFFFF;
}
.item3 {
	grid-column: span 2;
	grid-row: span 2;
	background-color: #126782;
	color: #FFFFFF;
}
.item4 {
	grid-column: span 1;
	grid-row: span 1;
	background-color: #023047;
	color: #FFFFFF;
} 
.item5 {
	grid-column: span 3;
	grid-row: span 2;
	background-color: #ffb703;
	color: #FFFFFF;
}
.item6 {
	grid-column: span 1;
	grid-row: span 1;
	background-color: #fd9e02;
	color: #FFFFFF;
} 
.item7 {
	grid-column: span 3;
	grid-row: span 2;
	background-color: #fb8500;
	color: #FFFFFF;
} 
.item8 {
	grid-column: span 3;
	grid-row: span 2;
	background-color: #2f3e46;
	color: #FFFFFF;
} 
.item9 {
	grid-column: span 2;
	grid-row: span 2;
	background-color: #354f52;
	color: #FFFFFF;
} 
.item10 {
	grid-column: span 4;
	grid-row: span 2;
	background-color: #52796f;
	color: #FFFFFF;
} 
.item11 {
	grid-column: span 1;
	background-color: #84a98c;
	color: #FFFFFF;
} 
.item12 {
	grid-column: span 1;
	background-color: #cad2c5;
	color: #FFFFFF;
} 
.item13 {
	grid-column: span 1;
	background-color: #590d22;
	color: #FFFFFF;
} 
.item14 {
	grid-column: span 1;
	background-color: #800f2f;
	color: #FFFFFF;
} 
.item15 {
	grid-column: span 1;
	background-color: #a4133c;
	color: #FFFFFF;
} 
.item16 {
	grid-column: span 1;
	background-color: #c9184a;
	color: #FFFFFF;
	font-size: 20px;
} 
.item17 {
	grid-column: span 1;
	background-color: #ff4d6d;
	color: #ffffff;
} 
.item18 {
	grid-column: span 1;
	background-color: #ff758f;
	color: #000000;
	font-size: 19px;
} 
.item19 {
	grid-column: span 1;
	background-color: #ff8fa3;
	color: #000000;
} 
.item20 {
	grid-column: span 1;
	background-color: #ffb3c1;
	color: #000000;
} 

/* Responsive Design */
@media (min-width: 768px) {
	body {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
	}

	ul li {
		margin-bottom: 30px;
	}

	p {
		line-height: 3em;
	}

	h3 a {
		display: inline;
		margin-top: 0;
	}

	section {
		padding: 15px;
		border-radius: 10px;
	}
}

/* Menu Toggle */
#menu-toggle {
	background: red;
	color: #fff;
	font-size: 1.4em;
	cursor: pointer;
}
